<%= render 'partials/search' %>
<% if @articles.any? %>
  <h3 class="page-title">Все объявления по ключевому слову "<%= params[:q] %>"</h3>

  <%= render 'partials/thumbnail' %>
<% elsif params[:q].present? && !@articles.any? %>
  <h3 class="page-title">По ключевому слову "<%= params[:q] %>" ничего не найдено</h3>
<% end %>
