<article class="article-show">
  <h1><%= @article.title %></h1>  

  <p><%= @article.description %></p>

  <p>
  <%= link_to 'Редактировать объявление', edit_article_path, class: "btn btn-default" %>
  <%= link_to 'Удалить объявление', article_path, method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-default" %>
  </p>
</article>

