<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<% root_url %>">
        <img alt="lostNfound" src="">
      </a>
      <div class="navbar-btn-right"> 
        <%= link_to 'Войти', nil, class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Зарегистрироваться', nil, class: 'btn btn-default navbar-btn' %>
        <!-- <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>   -->
      </div>
    </div>
  </div>
</nav>
