<section class="jumbotron_section">
  <div class="jumbotron">
    <h1>Самой большой портал поиска пропавших вещей.</h1>
    <p>
      <a class="btn btn-danger btn-lg" href="<%= new_article_path %>" role="button">Я потерял вещь</a>
      <a class="btn btn-success btn-lg" href="<%= new_article_path %>" role="button">Я нашел вещь</a>    
    </p>
  </div>
</section>




